A little change for lighting outsides
[
    {
        "id": "7ff88f77.ad8e2",
        "type": "tab",
        "label": "Lighting control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d07175eb.d71c98",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "39550c97.1ba954",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "bb3b3504.6b0008",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a24997e9.3b2598",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7c7ed7f2.030978",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "cbeb1648.14fac8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "669d9efe.0a8e7",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dcce938d.81879",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "eed815a6.425658",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "18d96d9e.e28c32",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "9196a38.c2e9c6",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a050d7d8.e2d088",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2e4b3322.31d2fc",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3919219a.8383ee",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f887c785.ef19c8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ae955c5e.cbded",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "89cff63c.df38e8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "980e065c.d972a8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e8e943b.a22c6c",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "88a25c25.1ae3f",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "437d9aea.b80644",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "efa6c751.0dba28",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "cfc373b7.a6d11",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2dceb26b.6b868e",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "8034d757.ae6b88",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dbc5c8ed.4f2e28",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "57d37bfe.a9caf4",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "afe43a73.749a38",
        "type": "mosca in",
        "z": "7ff88f77.ad8e2",
        "mqtt_port": 1883,
        "mqtt_ws_port": 8080,
        "name": "",
        "username": "",
        "password": "",
        "dburl": "",
        "x": 90,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "a1ee52fc.bed8a",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/general/Memory/float/Temperature_Zone_N_[K]",
        "qos": "2",
        "broker": "980e065c.d972a8",
        "x": 201,
        "y": 113,
        "wires": [
            [
                "ead36024.4502f"
            ]
        ]
    },
    {
        "id": "74d318fa.861f88",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "mqtt thingspeak out",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "e8e943b.a22c6c",
        "x": 1010,
        "y": 200,
        "wires": []
    },
    {
        "id": "ead36024.4502f",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "translate home io payload to thingspeak",
        "func": "var API_KEY = \"7XWC1HZ4ZEB2GPRN \";\n\nvar topicSplit = msg.topic.split(/[/]+/);\n\n// Flag continuous messages\nmsg.shouldBeThrottled = false;\nif(\n topicSplit[3] == \"Memory\" ||\n topicSplit[5].startsWith(\"Thermostat\") ||\n topicSplit[5].startsWith(\"Date_and_Time\") ||\n topicSplit[5].startsWith(\"Brightness\")){\n msg.shouldBeThrottled = true;\n}\n\n// Build ThingSpeak payload\nvar value = msg.payload;\nif(topicSplit[3] == \"bool\"){\n value = msg.payload==\"True\"?1:0;\n}\nmsg.payload = Date.now() + \",\" + topicSplit[topicSplit.length - 1] + \",\" + value + \",\" + API_KEY;\nmsg.topic = \"devices\" + msg.topic;\n\n// Don't proceed if the API key isn't set properly\nif(API_KEY != \"7XWC1HZ4ZEB2GPRN \") return null;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 581,
        "y": 113,
        "wires": [
            [
                "33575215.a045fe"
            ]
        ]
    },
    {
        "id": "10751333.e19f6d",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "limit continunous update rate",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 680,
        "y": 180,
        "wires": [
            [
                "74d318fa.861f88"
            ]
        ]
    },
    {
        "id": "33575215.a045fe",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "filter continuous update data",
        "property": "shouldBeThrottled",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 300,
        "y": 200,
        "wires": [
            [
                "10751333.e19f6d"
            ],
            [
                "74d318fa.861f88"
            ]
        ]
    },
    {
        "id": "a64722fd.dc663",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/O/Input/float/Brightness_Sensor_(Analog)",
        "qos": "2",
        "broker": "980e065c.d972a8",
        "x": 200,
        "y": 1620,
        "wires": [
            [
                "37ebb993.c72bc6"
            ]
        ]
    },
    {
        "id": "37ebb993.c72bc6",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "translate home io payload to thingspeak",
        "func": "var API_KEY = \"7XWC1HZ4ZEB2GPRN\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\nmsg.topic = topicSplit[3];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 1700,
        "wires": [
            [
                "d1e63082.a674b"
            ]
        ]
    },
    {
        "id": "d1e63082.a674b",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "limit continunous update rate",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "21",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 540,
        "y": 1700,
        "wires": [
            [
                "daba9a9d.627478"
            ]
        ]
    },
    {
        "id": "3226075a.ac86e8",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/A/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "88a25c25.1ae3f",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "9d3b926b.6e227"
            ]
        ]
    },
    {
        "id": "25035730.69c558",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/A/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "88a25c25.1ae3f",
        "x": 980,
        "y": 300,
        "wires": []
    },
    {
        "id": "9d3b926b.6e227",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 300,
        "wires": [
            [
                "1b544950.d545a7"
            ]
        ]
    },
    {
        "id": "1b544950.d545a7",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 300,
        "wires": [
            [
                "25035730.69c558"
            ],
            [
                "881699a.6138868"
            ]
        ]
    },
    {
        "id": "2eaef786.706ba8",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/B/Output/bool/Lights_1",
        "qos": "",
        "retain": "",
        "broker": "88a25c25.1ae3f",
        "x": 990,
        "y": 380,
        "wires": []
    },
    {
        "id": "64abc0.6d33044",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 380,
        "wires": [
            [
                "85f8c6d8.ae8108"
            ]
        ]
    },
    {
        "id": "85f8c6d8.ae8108",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 380,
        "wires": [
            [
                "2eaef786.706ba8"
            ],
            [
                "cfd2574.d25fea8"
            ]
        ]
    },
    {
        "id": "47a11c83.ea3864",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/C/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "88a25c25.1ae3f",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "9c6c7487.902298"
            ]
        ]
    },
    {
        "id": "e75c05c.cfd49f8",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/C/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "88a25c25.1ae3f",
        "x": 980,
        "y": 520,
        "wires": []
    },
    {
        "id": "e66b7338.2d51a",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 760,
        "y": 540,
        "wires": [
            [
                "e75c05c.cfd49f8"
            ]
        ]
    },
    {
        "id": "9c6c7487.902298",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 520,
        "wires": [
            [
                "24c24123.aa350e"
            ]
        ]
    },
    {
        "id": "24c24123.aa350e",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 520,
        "wires": [
            [
                "e75c05c.cfd49f8"
            ],
            [
                "e66b7338.2d51a"
            ]
        ]
    },
    {
        "id": "d87874dd.77ce78",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/D/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "88a25c25.1ae3f",
        "x": 180,
        "y": 580,
        "wires": [
            [
                "2a1201e.45521fe",
                "2a4257d8.e72ed8"
            ]
        ]
    },
    {
        "id": "2c9066f3.2a38da",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/D/Output/bool/Lights_1",
        "qos": "",
        "retain": "",
        "broker": "88a25c25.1ae3f",
        "x": 990,
        "y": 600,
        "wires": []
    },
    {
        "id": "3d82742f.f3169c",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 620,
        "wires": [
            [
                "2c9066f3.2a38da"
            ]
        ]
    },
    {
        "id": "2a1201e.45521fe",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 580,
        "wires": [
            [
                "b20f0a1d.3c5b58"
            ]
        ]
    },
    {
        "id": "b20f0a1d.3c5b58",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 600,
        "wires": [
            [
                "2c9066f3.2a38da"
            ],
            [
                "3d82742f.f3169c"
            ]
        ]
    },
    {
        "id": "3ab6e92.6a3b216",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/E/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "88a25c25.1ae3f",
        "x": 180,
        "y": 700,
        "wires": [
            [
                "4e066cf.9507c94"
            ]
        ]
    },
    {
        "id": "5bd6d3da.1e9cec",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/E/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "88a25c25.1ae3f",
        "x": 1000,
        "y": 700,
        "wires": []
    },
    {
        "id": "af7474da.b44b38",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 720,
        "wires": [
            [
                "5bd6d3da.1e9cec"
            ]
        ]
    },
    {
        "id": "4e066cf.9507c94",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 700,
        "wires": [
            [
                "ad59ff2c.ba326"
            ]
        ]
    },
    {
        "id": "ad59ff2c.ba326",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 700,
        "wires": [
            [
                "5bd6d3da.1e9cec"
            ],
            [
                "af7474da.b44b38"
            ]
        ]
    },
    {
        "id": "af32cfec.4e059",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/F/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "88a25c25.1ae3f",
        "x": 180,
        "y": 760,
        "wires": [
            [
                "4cf31f97.d4116",
                "980721f3.75904"
            ]
        ]
    },
    {
        "id": "82b42d02.04a5d",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/F/Output/bool/Lights_1",
        "qos": "",
        "retain": "",
        "broker": "88a25c25.1ae3f",
        "x": 1010,
        "y": 760,
        "wires": []
    },
    {
        "id": "644322e2.c7c2cc",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 800,
        "y": 780,
        "wires": [
            [
                "82b42d02.04a5d"
            ]
        ]
    },
    {
        "id": "4cf31f97.d4116",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 760,
        "wires": [
            [
                "66e08907.fcb288"
            ]
        ]
    },
    {
        "id": "66e08907.fcb288",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 760,
        "wires": [
            [
                "82b42d02.04a5d"
            ],
            [
                "644322e2.c7c2cc"
            ]
        ]
    },
    {
        "id": "ce415df.f0745a",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/G/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "88a25c25.1ae3f",
        "x": 180,
        "y": 860,
        "wires": [
            [
                "b55480c7.d694"
            ]
        ]
    },
    {
        "id": "e34da988.4de9a8",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/G/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "88a25c25.1ae3f",
        "x": 1000,
        "y": 880,
        "wires": []
    },
    {
        "id": "f60ca64a.7f73d8",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 900,
        "wires": [
            [
                "e34da988.4de9a8"
            ]
        ]
    },
    {
        "id": "b55480c7.d694",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 860,
        "wires": [
            [
                "4c4989a5.bd0968"
            ]
        ]
    },
    {
        "id": "4c4989a5.bd0968",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 860,
        "wires": [
            [
                "e34da988.4de9a8"
            ],
            [
                "f60ca64a.7f73d8"
            ]
        ]
    },
    {
        "id": "1f1f2ef2.7e3601",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/H/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "88a25c25.1ae3f",
        "x": 180,
        "y": 920,
        "wires": [
            [
                "1b05bad2.52af95"
            ]
        ]
    },
    {
        "id": "567986f8.f67e18",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/H/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "88a25c25.1ae3f",
        "x": 1000,
        "y": 940,
        "wires": []
    },
    {
        "id": "480cbec6.59a3",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 760,
        "y": 960,
        "wires": [
            [
                "567986f8.f67e18"
            ]
        ]
    },
    {
        "id": "1b05bad2.52af95",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 920,
        "wires": [
            [
                "cd9f7415.551618"
            ]
        ]
    },
    {
        "id": "cd9f7415.551618",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 920,
        "wires": [
            [
                "567986f8.f67e18"
            ],
            [
                "480cbec6.59a3"
            ]
        ]
    },
    {
        "id": "54b4fc75.4f7534",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/I/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "88a25c25.1ae3f",
        "x": 180,
        "y": 1000,
        "wires": [
            [
                "e0a2db60.10bb98",
                "ff15a091.6d792"
            ]
        ]
    },
    {
        "id": "3883e89f.5ee9d8",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/I/Output/bool/Lights_1",
        "qos": "",
        "retain": "",
        "broker": "88a25c25.1ae3f",
        "x": 1000,
        "y": 1000,
        "wires": []
    },
    {
        "id": "a885c242.e8e7e",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 1020,
        "wires": [
            [
                "3883e89f.5ee9d8"
            ]
        ]
    },
    {
        "id": "e0a2db60.10bb98",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 1000,
        "wires": [
            [
                "12e0eed1.8fde41"
            ]
        ]
    },
    {
        "id": "12e0eed1.8fde41",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 1000,
        "wires": [
            [
                "3883e89f.5ee9d8"
            ],
            [
                "a885c242.e8e7e"
            ]
        ]
    },
    {
        "id": "14e26de8.117112",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/B/Output/bool/Lights_2",
        "qos": "",
        "retain": "",
        "broker": "88a25c25.1ae3f",
        "x": 990,
        "y": 440,
        "wires": []
    },
    {
        "id": "efad6389.be0ca",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 440,
        "wires": [
            [
                "33d69abd.926db6"
            ]
        ]
    },
    {
        "id": "f8573158.d820b",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/D/Output/bool/Lights_2",
        "qos": "",
        "retain": "",
        "broker": "88a25c25.1ae3f",
        "x": 990,
        "y": 660,
        "wires": []
    },
    {
        "id": "11f6bdf2.e123c2",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 680,
        "wires": [
            [
                "f8573158.d820b"
            ]
        ]
    },
    {
        "id": "2a4257d8.e72ed8",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 640,
        "wires": [
            [
                "22919da.b8fb762"
            ]
        ]
    },
    {
        "id": "22919da.b8fb762",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 660,
        "wires": [
            [
                "f8573158.d820b"
            ],
            [
                "11f6bdf2.e123c2"
            ]
        ]
    },
    {
        "id": "6ef2c8af.88d2d8",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/F/Output/bool/Lights_2",
        "qos": "",
        "retain": "",
        "broker": "88a25c25.1ae3f",
        "x": 1010,
        "y": 800,
        "wires": []
    },
    {
        "id": "ffe99911.308728",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 840,
        "wires": [
            [
                "6ef2c8af.88d2d8"
            ]
        ]
    },
    {
        "id": "980721f3.75904",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 800,
        "wires": [
            [
                "7e6b73cf.dc724c"
            ]
        ]
    },
    {
        "id": "7e6b73cf.dc724c",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 820,
        "wires": [
            [
                "6ef2c8af.88d2d8"
            ],
            [
                "ffe99911.308728"
            ]
        ]
    },
    {
        "id": "588f9726.d237f8",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/I/Output/bool/Lights_2",
        "qos": "",
        "retain": "",
        "broker": "88a25c25.1ae3f",
        "x": 1000,
        "y": 1040,
        "wires": []
    },
    {
        "id": "21b6b998.72da36",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 1060,
        "wires": [
            [
                "588f9726.d237f8"
            ]
        ]
    },
    {
        "id": "ff15a091.6d792",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 1040,
        "wires": [
            [
                "7ef680ba.314fb"
            ]
        ]
    },
    {
        "id": "7ef680ba.314fb",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 1040,
        "wires": [
            [
                "588f9726.d237f8"
            ],
            [
                "21b6b998.72da36"
            ]
        ]
    },
    {
        "id": "32336691.76190a",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/J/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "88a25c25.1ae3f",
        "x": 160,
        "y": 1100,
        "wires": [
            [
                "493abd4f.4fd734"
            ]
        ]
    },
    {
        "id": "3253c709.15b2b8",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/J/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "88a25c25.1ae3f",
        "x": 1000,
        "y": 1080,
        "wires": []
    },
    {
        "id": "4a50b722.5cdce8",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 1120,
        "wires": [
            [
                "3253c709.15b2b8"
            ]
        ]
    },
    {
        "id": "493abd4f.4fd734",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 1100,
        "wires": [
            [
                "97aa980f.95cd48"
            ]
        ]
    },
    {
        "id": "97aa980f.95cd48",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 1100,
        "wires": [
            [
                "3253c709.15b2b8"
            ],
            [
                "4a50b722.5cdce8"
            ]
        ]
    },
    {
        "id": "b50b54cd.3c15f8",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/K/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "88a25c25.1ae3f",
        "x": 160,
        "y": 1180,
        "wires": [
            [
                "4479341e.12b52c"
            ]
        ]
    },
    {
        "id": "2392e7f0.c2e898",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/K/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "88a25c25.1ae3f",
        "x": 1000,
        "y": 1160,
        "wires": []
    },
    {
        "id": "9a6c0b3b.693908",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 1200,
        "wires": [
            [
                "2392e7f0.c2e898"
            ]
        ]
    },
    {
        "id": "4479341e.12b52c",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 1180,
        "wires": [
            [
                "1efc6425.518f0c"
            ]
        ]
    },
    {
        "id": "1efc6425.518f0c",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 1180,
        "wires": [
            [
                "2392e7f0.c2e898"
            ],
            [
                "9a6c0b3b.693908"
            ]
        ]
    },
    {
        "id": "7ed55a42.1eb2d4",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/L/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "88a25c25.1ae3f",
        "x": 160,
        "y": 1240,
        "wires": [
            [
                "3c186136.18c59e"
            ]
        ]
    },
    {
        "id": "435dde4a.54cf8",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/L/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "88a25c25.1ae3f",
        "x": 1000,
        "y": 1240,
        "wires": []
    },
    {
        "id": "1b7b925f.f6a39e",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 1260,
        "wires": [
            [
                "435dde4a.54cf8"
            ]
        ]
    },
    {
        "id": "3c186136.18c59e",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 1240,
        "wires": [
            [
                "dba8bb70.71f408"
            ]
        ]
    },
    {
        "id": "dba8bb70.71f408",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 1240,
        "wires": [
            [
                "435dde4a.54cf8"
            ],
            [
                "1b7b925f.f6a39e"
            ]
        ]
    },
    {
        "id": "10847d63.bb7c73",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/M/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "88a25c25.1ae3f",
        "x": 160,
        "y": 1300,
        "wires": [
            [
                "d5fc5438.117d18"
            ]
        ]
    },
    {
        "id": "593a51c2.b3acb",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/M/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "88a25c25.1ae3f",
        "x": 1000,
        "y": 1300,
        "wires": []
    },
    {
        "id": "1ba55465.6d6b6c",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 1320,
        "wires": [
            [
                "593a51c2.b3acb"
            ]
        ]
    },
    {
        "id": "d5fc5438.117d18",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 1300,
        "wires": [
            [
                "c86a1d5d.afcc1"
            ]
        ]
    },
    {
        "id": "c86a1d5d.afcc1",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 1300,
        "wires": [
            [
                "593a51c2.b3acb"
            ],
            [
                "1ba55465.6d6b6c"
            ]
        ]
    },
    {
        "id": "dbfbfddc.87af",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/N/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "88a25c25.1ae3f",
        "x": 160,
        "y": 1380,
        "wires": [
            [
                "42d3bcf8.8a0dd4",
                "d455a34b.f9e91",
                "7730ad74.843bb4"
            ]
        ]
    },
    {
        "id": "a57e3063.bfce6",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/N/Output/bool/Lights_1",
        "qos": "",
        "retain": "",
        "broker": "88a25c25.1ae3f",
        "x": 1010,
        "y": 1380,
        "wires": []
    },
    {
        "id": "68b3db38.967f24",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 800,
        "y": 1400,
        "wires": [
            [
                "a57e3063.bfce6"
            ]
        ]
    },
    {
        "id": "42d3bcf8.8a0dd4",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 1380,
        "wires": [
            [
                "74b5e7f3.469208"
            ]
        ]
    },
    {
        "id": "74b5e7f3.469208",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 1380,
        "wires": [
            [
                "a57e3063.bfce6"
            ],
            [
                "68b3db38.967f24"
            ]
        ]
    },
    {
        "id": "d384b0d3.e743",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/N/Output/bool/Lights_2",
        "qos": "",
        "retain": "",
        "broker": "88a25c25.1ae3f",
        "x": 1030,
        "y": 1440,
        "wires": []
    },
    {
        "id": "449aa8ca.f645e8",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 800,
        "y": 1440,
        "wires": [
            [
                "d384b0d3.e743"
            ]
        ]
    },
    {
        "id": "d455a34b.f9e91",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 1420,
        "wires": [
            [
                "b6a9d2d7.34955"
            ]
        ]
    },
    {
        "id": "b6a9d2d7.34955",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 1420,
        "wires": [
            [
                "d384b0d3.e743"
            ],
            [
                "449aa8ca.f645e8"
            ]
        ]
    },
    {
        "id": "14186c61.080c64",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/N/Output/bool/Lights_3",
        "qos": "",
        "retain": "",
        "broker": "88a25c25.1ae3f",
        "x": 1030,
        "y": 1480,
        "wires": []
    },
    {
        "id": "be787b31.08e7a8",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 800,
        "y": 1500,
        "wires": [
            [
                "14186c61.080c64"
            ]
        ]
    },
    {
        "id": "7730ad74.843bb4",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 1460,
        "wires": [
            [
                "84a0e089.5200b"
            ]
        ]
    },
    {
        "id": "84a0e089.5200b",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 1460,
        "wires": [
            [
                "14186c61.080c64"
            ],
            [
                "be787b31.08e7a8"
            ]
        ]
    },
    {
        "id": "c294808d.0052f",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/O/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "88a25c25.1ae3f",
        "x": 160,
        "y": 1540,
        "wires": [
            [
                "1a322415.94845c"
            ]
        ]
    },
    {
        "id": "8813172.aa5cae8",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/O/Output/bool/Lights_Entrance",
        "qos": "",
        "retain": "",
        "broker": "88a25c25.1ae3f",
        "x": 1050,
        "y": 1540,
        "wires": []
    },
    {
        "id": "d084c6cd.30ace8",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 800,
        "y": 1560,
        "wires": [
            [
                "8813172.aa5cae8"
            ]
        ]
    },
    {
        "id": "1a322415.94845c",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 1540,
        "wires": [
            [
                "5eabc7e8.a75838"
            ]
        ]
    },
    {
        "id": "5eabc7e8.a75838",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 1540,
        "wires": [
            [
                "8813172.aa5cae8"
            ],
            [
                "d084c6cd.30ace8"
            ]
        ]
    },
    {
        "id": "881699a.6138868",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 320,
        "wires": [
            [
                "25035730.69c558"
            ]
        ]
    },
    {
        "id": "5ccf0aaf.b2b204",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/B/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "88a25c25.1ae3f",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "64abc0.6d33044",
                "efad6389.be0ca"
            ]
        ]
    },
    {
        "id": "cfd2574.d25fea8",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 400,
        "wires": [
            [
                "2eaef786.706ba8"
            ]
        ]
    },
    {
        "id": "33d69abd.926db6",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 440,
        "wires": [
            [
                "14e26de8.117112"
            ],
            [
                "4273ad80.d6bf34"
            ]
        ]
    },
    {
        "id": "4273ad80.d6bf34",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 460,
        "wires": [
            [
                "14e26de8.117112"
            ]
        ]
    },
    {
        "id": "79e8d99.9e46528",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/O/Output/float/Lights_Pool_(Analog)",
        "qos": "",
        "retain": "",
        "broker": "dbc5c8ed.4f2e28",
        "x": 1190,
        "y": 1640,
        "wires": []
    },
    {
        "id": "39d2c9ba.947fb6",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/O/Output/float/Lights_Porch_1_(Analog)",
        "qos": "",
        "retain": "",
        "broker": "dbc5c8ed.4f2e28",
        "x": 1200,
        "y": 1720,
        "wires": []
    },
    {
        "id": "eb293592.c23f08",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/O/Output/float/Lights_Porch_2_(Analog)",
        "qos": "",
        "retain": "",
        "broker": "dbc5c8ed.4f2e28",
        "x": 1180,
        "y": 1680,
        "wires": []
    },
    {
        "id": "393634f.8fac7cc",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightControl",
        "func": "if(msg.brightness !== undefined){\n    if(msg.brightness < 2.0){\n        msg.payload = 8;\n    }else{\n        msg.payload = 0;\n    }\n    return msg;\n}\nif(msg.hour !== undefined){\n    msg.payload = 3;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 1780,
        "wires": [
            [
                "79e8d99.9e46528",
                "eb293592.c23f08",
                "39d2c9ba.947fb6",
                "e2c27b9d.f01cf8"
            ]
        ]
    },
    {
        "id": "e2c27b9d.f01cf8",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/O/Output/float/Lights_Garden_(Analog)",
        "qos": "",
        "retain": "",
        "broker": "dbc5c8ed.4f2e28",
        "x": 1200,
        "y": 1760,
        "wires": []
    },
    {
        "id": "daba9a9d.627478",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "setBrightness",
        "func": "msg.brightness = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 831,
        "y": 1653,
        "wires": [
            [
                "7c4741b2.715c8"
            ]
        ]
    },
    {
        "id": "7c4741b2.715c8",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "ifAutoMode?",
        "func": "if(!global.get(\"Manu\")){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 1720,
        "wires": [
            [
                "393634f.8fac7cc"
            ]
        ]
    },
    {
        "id": "7bcd7816.0af0d8",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "",
        "qos": "2",
        "x": 120,
        "y": 1840,
        "wires": [
            []
        ]
    }
]
