homeio.txt
[
    {
        "id": "7ff88f77.ad8e2",
        "type": "tab",
        "label": "Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c693a980.3f7cf8",
        "type": "tab",
        "label": "Á÷³Ì6",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d07175eb.d71c98",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "f2149664.e5d528",
        "type": "subflow",
        "name": "Subflow 1 (2)",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "eaed3dc0.97125",
        "type": "subflow",
        "name": "Subflow 1 (2) (2)",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "39550c97.1ba954",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "bb3b3504.6b0008",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a24997e9.3b2598",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7c7ed7f2.030978",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "cbeb1648.14fac8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "669d9efe.0a8e7",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dcce938d.81879",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "eed815a6.425658",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "18d96d9e.e28c32",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "9196a38.c2e9c6",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a050d7d8.e2d088",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2e4b3322.31d2fc",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3919219a.8383ee",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f887c785.ef19c8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ae955c5e.cbded",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "89cff63c.df38e8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "980e065c.d972a8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e8e943b.a22c6c",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "88a25c25.1ae3f",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "437d9aea.b80644",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "efa6c751.0dba28",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "cfc373b7.a6d11",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2dceb26b.6b868e",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "8034d757.ae6b88",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dbc5c8ed.4f2e28",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "57d37bfe.a9caf4",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dc77bd82.41003",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dc69533d.01405",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6333e2bb.60a37c",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "179bb361.055ced",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "93ec7b15.76c078",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "1ef2fa8d.661b35",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "be7590aa.559b6",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7e5cee4a.abfb8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5cde5043.66bd2",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "37210c3.2c283f4",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c629b1be.30051",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "9221655f.837998",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "349ec84e.43ecd8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f3802752.154e58",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "de0f2fba.9fc9f",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "87f21861.141818",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f5bc8917.6585b8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "705ede06.b4b32",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ee9c1cce.4aeec",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "17b13599.c6a59a",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6fa445ce.0af6cc",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "aa50489.4fdf5b8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "85b5a667.0e84f8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "efbefa8f.930c58",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "61e80344.813a9c",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "96db803e.eca64",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a097f0d4.d97b6",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "366c11e5.0657ee",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "eb994731.857d18",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "163cd1b3.8a0e8e",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e63d1475.cb9d08",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fd360118.0f76c",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "92d129e0.1de668",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fb9f315.13382d",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d9b1e154.6b1c7",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ea6e263e.b25fe8",
        "type": "ui_group",
        "z": "",
        "name": "Lumiere",
        "tab": "623a8881.3f7a98",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4c71817f.a96e1",
        "type": "ui_group",
        "z": "",
        "name": "Volet",
        "tab": "623a8881.3f7a98",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e181e107.f149c",
        "type": "ui_group",
        "z": "",
        "name": "Mode Switch",
        "tab": "623a8881.3f7a98",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "eaeb22aa.838dc",
        "type": "ui_group",
        "z": "",
        "name": "Room etat",
        "tab": "623a8881.3f7a98",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "623a8881.3f7a98",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "21a48fbd.8c3e7",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "1dc974ad.d8e8eb",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "8f50296e.aff358",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b52c3a6b.4913a8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e5d59e4b.993ea",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "1d2749a9.7618d6",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a12272cd.fef01",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d4c6f0e1.7f592",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "bec4d105.b772e",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b9824c0.96004b8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dcb322ab.9d3a1",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3fa3fdad.428d32",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4aac2e3a.e201e",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "78c08cf7.165834",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4315bdf4.f13f74",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dd0d66d.d76c098",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "35ee1aef.430926",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "1a9c56b.fdb57a9",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "561958d4.3b3878",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ffc7b6b.2d79d48",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "8df57299.14628",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "8b21141b.21ebb8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ff248002.24517",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3a15987a.0adfa8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "da55c8b5.483d98",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "52386563.ee5cac",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "17373b15.b40cf5",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c56dc5f9.3422e8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f0a49a81.f0e718",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "bf60d520.ec9118",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d4dba1ea.a1e27",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d6b05d80.98d38",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "895d2b51.91b118",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e1f57063.d5ef6",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "baf07ec8.efbbc",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f4af4a3f.6b64e8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a4bf48d0.920848",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b3dbd201.592f8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "341f89af.576976",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "86ef6df7.9ff66",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a849bb66.128238",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fafc71ed.a3cd1",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "1da4c099.bebd0f",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "abe66ceb.4144c",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4071a460.567f8c",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ab82a7d4.857ab8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f0d1a709.d2c388",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b17d6cea.acf83",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "284ff2c0.9a196e",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "61faf7be.fd25e8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "100d8c1d.5a8334",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7880ada1.a25e34",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6a70d195.1dd33",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a99bac5d.8f00a",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5ade6ac2.993254",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "681b408d.df8ac",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c6ca2e7c.a8be3",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2b12839a.68776c",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "93663d5b.0f36a",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "19825cdc.5c1c03",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a7d097c2.808d98",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "163ea4f2.63a1fb",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7d39bde8.b37f84",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fd9abc91.fbaa1",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fedb64fd.aa4628",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "12089fde.3278",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4a00d8a7.314428",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6ab40186.efd4f",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7c77c534.3af51c",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "88acaf06.c5f5b",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "100b17c9.379968",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "93585223.4ebcd",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2936d94d.9da546",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ae942f9.7ddd8d",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "67d10f10.3d7df",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "1799d37.a7a3e2d",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "77478e36.9e967",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "919889ab.4394d8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a7fe3124.d37fe",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7cc58759.81f1b8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c6886e27.72a7b",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "af85b30d.b9dd9",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "98dd05d4.bc6dc8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d478d620.eba8c8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ce19f266.f5a6a",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7a6e6708.359d28",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "167278ea.fb7307",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "55e8166d.14f6a8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e0a37939.84abf8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4f72a76b.4ecd68",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "8b8eb987.ad5228",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "21633615.ad30da",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4862c82f.7f59a8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fae7cf2b.f4a5",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d673f3d.c456e1",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b44a7233.5899a",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fc59a02d.d8775",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a1e05141.309d9",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ed01138f.42093",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "cc4968fe.af8078",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3ca69a40.5ba836",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ff618c8.304b67",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "724c1218.76dd5c",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d04de4e4.e58818",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "123b828d.578b8d",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5eea306c.3102d",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "467591fc.145d8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "47d28742.cfed98",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3207d73d.2c14c8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6236e3a.64f991c",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b6b9dc45.476f7",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "32974309.de0eac",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b279b85e.25d338",
        "type": "ui_group",
        "z": "",
        "name": "Lumiere",
        "tab": "b41e522f.071d2",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "85e0ee04.42ac1",
        "type": "ui_group",
        "z": "",
        "name": "Volet",
        "tab": "b41e522f.071d2",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "77bfacc1.256df4",
        "type": "ui_group",
        "z": "",
        "name": "Mode Switch",
        "tab": "b41e522f.071d2",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "158d9648.a22f9a",
        "type": "ui_group",
        "z": "",
        "name": "Securite",
        "tab": "b41e522f.071d2",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5cd5e09c.44389",
        "type": "ui_group",
        "z": "",
        "name": "Room etat",
        "tab": "b41e522f.071d2",
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "51ff8e1a.17ec2",
        "type": "ui_group",
        "z": "",
        "name": "Garage",
        "tab": "b41e522f.071d2",
        "disp": true,
        "width": "3",
        "collapse": false
    },
    {
        "id": "1dc65078.93cea",
        "type": "ui_group",
        "z": "",
        "name": "Portail",
        "tab": "b41e522f.071d2",
        "disp": true,
        "width": "3",
        "collapse": false
    },
    {
        "id": "b41e522f.071d2",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "cfdf1da1.c3877",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dc909c55.7053a",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "54b6f895.ace628",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b1e7f289.c17a9",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b941ea42.05c7b8",
        "type": "ui_group",
        "z": "",
        "name": "Lumiere",
        "tab": "7b91c714.9a3218",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "68709e33.0d272",
        "type": "ui_group",
        "z": "",
        "name": "Volet",
        "tab": "7b91c714.9a3218",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7f39ff9b.9d941",
        "type": "ui_group",
        "z": "",
        "name": "Mode Switch",
        "tab": "7b91c714.9a3218",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d82c447f.59bfc8",
        "type": "ui_group",
        "z": "",
        "name": "Securite",
        "tab": "7b91c714.9a3218",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3d7658d2.af56f8",
        "type": "ui_group",
        "z": "",
        "name": "Room etat",
        "tab": "7b91c714.9a3218",
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "fe7bd9d3.0e1898",
        "type": "ui_group",
        "z": "",
        "name": "Garage",
        "tab": "7b91c714.9a3218",
        "disp": true,
        "width": "3",
        "collapse": false
    },
    {
        "id": "81b17d.8ac71e8",
        "type": "ui_group",
        "z": "",
        "name": "Portail",
        "tab": "7b91c714.9a3218",
        "disp": true,
        "width": "3",
        "collapse": false
    },
    {
        "id": "7b91c714.9a3218",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "f9230cff.7a9d1",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "19c3e2d7.0b633d",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "73a9dd87.ec5904",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "afe43a73.749a38",
        "type": "mosca in",
        "z": "7ff88f77.ad8e2",
        "mqtt_port": 1883,
        "mqtt_ws_port": 8080,
        "name": "",
        "username": "",
        "password": "",
        "dburl": "",
        "x": 90,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "a1ee52fc.bed8a",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/general/Memory/float/Temperature_Zone_N_[K]",
        "qos": "2",
        "broker": "980e065c.d972a8",
        "x": 201,
        "y": 113,
        "wires": [
            [
                "ead36024.4502f"
            ]
        ]
    },
    {
        "id": "74d318fa.861f88",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "mqtt thingspeak out",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "e8e943b.a22c6c",
        "x": 1010,
        "y": 200,
        "wires": []
    },
    {
        "id": "ead36024.4502f",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "translate home io payload to thingspeak",
        "func": "var API_KEY = \"7XWC1HZ4ZEB2GPRN\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\n\n// Flag continuous messages\nmsg.shouldBeThrottled = false;\nif(\n topicSplit[3] == \"Memory\" ||\n topicSplit[5].startsWith(\"Thermostat\") ||\n topicSplit[5].startsWith(\"Date_and_Time\") ||\n topicSplit[5].startsWith(\"Brightness\")){\n msg.shouldBeThrottled = true;\n}\n\n// Build ThingSpeak payload\nvar value = msg.payload;\nif(topicSplit[3] == \"bool\"){\n value = msg.payload==\"True\"?1:0;\n}\nmsg.payload = Date.now() + \",\" + topicSplit[topicSplit.length - 1] + \",\" + value + \",\" + API_KEY;\nmsg.topic = \"devices\" + msg.topic;\n\n// Don't proceed if the API key isn't set properly\nif(API_KEY != \"7XWC1HZ4ZEB2GPRN\") return null;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 581,
        "y": 113,
        "wires": [
            [
                "33575215.a045fe"
            ]
        ]
    },
    {
        "id": "10751333.e19f6d",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "limit continunous update rate",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 680,
        "y": 180,
        "wires": [
            [
                "74d318fa.861f88"
            ]
        ]
    },
    {
        "id": "33575215.a045fe",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "filter continuous update data",
        "property": "shouldBeThrottled",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 300,
        "y": 200,
        "wires": [
            [
                "10751333.e19f6d"
            ],
            [
                "74d318fa.861f88"
            ]
        ]
    },
    {
        "id": "feabd364.005d2",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/A/Output/bool/Roller_Shades_1_(Up)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 1200,
        "wires": []
    },
    {
        "id": "b43a86ea.7ad018",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/A/Output/bool/Roller_Shades_2_(Up)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 1240,
        "wires": []
    },
    {
        "id": "15d948c0.897777",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/A/Output/bool/Roller_Shades_3_(Up)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 1280,
        "wires": []
    },
    {
        "id": "1e7c388e.b64a27",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/A/Output/bool/Roller_Shades_4_(Up)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 1320,
        "wires": []
    },
    {
        "id": "e390fe6f.f69ab",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/D/Output/bool/Roller_Shades_(Up)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 1360,
        "wires": []
    },
    {
        "id": "34dc4cac.a3bc14",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/E/Output/bool/Roller_Shades_(Up)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 1400,
        "wires": []
    },
    {
        "id": "1c48eaae.ba6d05",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/F/Output/bool/Roller_Shades_(Up)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 1440,
        "wires": []
    },
    {
        "id": "9e94ed36.a2887",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/G/Output/bool/Roller_Shades_(Up)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 1480,
        "wires": []
    },
    {
        "id": "d1d85d6d.aa2f2",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/H/Output/bool/Roller_Shades_(Up)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 1520,
        "wires": []
    },
    {
        "id": "1cc2bbe4.d1afc4",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/J/Output/bool/Roller_Shades_(Up)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 1560,
        "wires": []
    },
    {
        "id": "c39658a5.4d7bd8",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/L/Output/bool/Roller_Shades_(Up)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 1600,
        "wires": []
    },
    {
        "id": "d10294b2.c4ce18",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/M/Output/bool/Roller_Shades_(Up)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 1640,
        "wires": []
    },
    {
        "id": "7d7bace5.bc0024",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/N/Output/bool/Roller_Shades_(Up)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 1680,
        "wires": []
    },
    {
        "id": "3c75e0e3.3e8f2",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/A/Output/bool/Roller_Shades_1_(Down)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1480,
        "y": 1760,
        "wires": []
    },
    {
        "id": "f2231697.c6edf8",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/A/Output/bool/Roller_Shades_2_(Down)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1480,
        "y": 1800,
        "wires": []
    },
    {
        "id": "608ee4cd.ae591c",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/A/Output/bool/Roller_Shades_3_(Down)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1480,
        "y": 1840,
        "wires": []
    },
    {
        "id": "6e9fd7fe.0aec68",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/A/Output/bool/Roller_Shades_4_(Down)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1480,
        "y": 1880,
        "wires": []
    },
    {
        "id": "dd409de0.524e9",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/D/Output/bool/Roller_Shades_(Down)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 1920,
        "wires": []
    },
    {
        "id": "f7367f06.56cc",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/E/Output/bool/Roller_Shades_(Down)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 1960,
        "wires": []
    },
    {
        "id": "366d13a6.6d370c",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/F/Output/bool/Roller_Shades_(Down)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 2000,
        "wires": []
    },
    {
        "id": "6d1e9dc6.a983a4",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/G/Output/bool/Roller_Shades_(Down)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 2040,
        "wires": []
    },
    {
        "id": "97e6f0d2.ef094",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/H/Output/bool/Roller_Shades_(Down)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 2080,
        "wires": []
    },
    {
        "id": "336a561b.005a9a",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/J/Output/bool/Roller_Shades_(Down)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 2120,
        "wires": []
    },
    {
        "id": "1f7a2908.386967",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/L/Output/bool/Roller_Shades_(Down)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 2160,
        "wires": []
    },
    {
        "id": "50cf7cb3.93f624",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/M/Output/bool/Roller_Shades_(Down)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 2200,
        "wires": []
    },
    {
        "id": "dec91e57.da9ca",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/N/Output/bool/Roller_Shades_(Down)",
        "qos": "",
        "retain": "",
        "broker": "179bb361.055ced",
        "x": 1470,
        "y": 2240,
        "wires": []
    },
    {
        "id": "858dea93.4bb658",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/O/Input/float/Brightness_Sensor_(Analog)",
        "qos": "2",
        "broker": "349ec84e.43ecd8",
        "x": 320,
        "y": 2240,
        "wires": [
            [
                "7d8a61d7.1dc3"
            ]
        ]
    },
    {
        "id": "c21aa347.e5452",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/O/Output/bool/Lights_Pool",
        "qos": "",
        "retain": "",
        "broker": "de0f2fba.9fc9f",
        "x": 1220,
        "y": 2320,
        "wires": []
    },
    {
        "id": "e1f49da4.51cc9",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/O/Output/bool/Lights_Porch_1",
        "qos": "",
        "retain": "",
        "broker": "de0f2fba.9fc9f",
        "x": 1230,
        "y": 2380,
        "wires": []
    },
    {
        "id": "ed2f526d.3861a",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/O/Output/bool/Lights_Porch_2",
        "qos": "",
        "retain": "",
        "broker": "de0f2fba.9fc9f",
        "x": 1230,
        "y": 2440,
        "wires": []
    },
    {
        "id": "7d8a61d7.1dc3",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "translate home io payload to thingspeak",
        "func": "var API_KEY = \"7XWC1HZ4ZEB2GPRN\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\nmsg.topic = topicSplit[3];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 2360,
        "wires": [
            [
                "3f849078.66afb"
            ]
        ]
    },
    {
        "id": "520e996f.a429a8",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightSwimmingController",
        "func": "if(msg.payload < 1.8){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 2460,
        "wires": [
            [
                "b9ffc2b0.f5e63",
                "c21aa347.e5452",
                "ed2f526d.3861a",
                "e1f49da4.51cc9"
            ]
        ]
    },
    {
        "id": "b9ffc2b0.f5e63",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/O/Output/bool/Lights_Garden",
        "qos": "",
        "retain": "",
        "broker": "de0f2fba.9fc9f",
        "x": 1230,
        "y": 2500,
        "wires": []
    },
    {
        "id": "3f849078.66afb",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "limit continunous update rate",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "21",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 320,
        "y": 2460,
        "wires": [
            [
                "520e996f.a429a8"
            ]
        ]
    },
    {
        "id": "8b799c10.e9ea3",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "up",
        "func": "\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 1500,
        "wires": [
            [
                "e390fe6f.f69ab",
                "34dc4cac.a3bc14",
                "1c48eaae.ba6d05",
                "9e94ed36.a2887",
                "d1d85d6d.aa2f2",
                "1cc2bbe4.d1afc4",
                "c39658a5.4d7bd8",
                "d10294b2.c4ce18",
                "7d7bace5.bc0024",
                "feabd364.005d2",
                "b43a86ea.7ad018",
                "15d948c0.897777",
                "1e7c388e.b64a27"
            ]
        ]
    },
    {
        "id": "fa3561aa.4f1dd",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "down",
        "func": "\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 1760,
        "wires": [
            [
                "3c75e0e3.3e8f2",
                "f2231697.c6edf8",
                "608ee4cd.ae591c",
                "6e9fd7fe.0aec68",
                "dec91e57.da9ca",
                "50cf7cb3.93f624",
                "1f7a2908.386967",
                "336a561b.005a9a",
                "97e6f0d2.ef094",
                "6d1e9dc6.a983a4",
                "366d13a6.6d370c",
                "f7367f06.56cc",
                "dd409de0.524e9"
            ]
        ]
    },
    {
        "id": "b9f263e6.20d52",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "Open",
        "func": "msg.payload = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 1480,
        "wires": [
            [
                "4b493d74.564a04",
                "60b1c08c.d3fbb"
            ]
        ]
    },
    {
        "id": "59005534.ec34ec",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "Close",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 1240,
        "wires": [
            [
                "8482456d.f305e8",
                "8510819b.45081"
            ]
        ]
    },
    {
        "id": "60b1c08c.d3fbb",
        "type": "change",
        "z": "7ff88f77.ad8e2",
        "name": "reverse",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1420,
        "wires": [
            [
                "fa3561aa.4f1dd"
            ]
        ]
    },
    {
        "id": "4b493d74.564a04",
        "type": "trigger",
        "z": "7ff88f77.ad8e2",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "topic",
        "name": "ActionTime",
        "x": 790,
        "y": 1380,
        "wires": [
            [
                "8b799c10.e9ea3"
            ]
        ]
    },
    {
        "id": "8510819b.45081",
        "type": "change",
        "z": "7ff88f77.ad8e2",
        "name": "reverse",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1300,
        "wires": [
            [
                "8b799c10.e9ea3"
            ]
        ]
    },
    {
        "id": "8482456d.f305e8",
        "type": "trigger",
        "z": "7ff88f77.ad8e2",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "topic",
        "name": "ActionTime",
        "x": 790,
        "y": 1340,
        "wires": [
            [
                "fa3561aa.4f1dd"
            ]
        ]
    },
    {
        "id": "e415181.c05dae8",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 1380,
        "wires": [
            [
                "59005534.ec34ec"
            ],
            [
                "b9f263e6.20d52"
            ]
        ]
    },
    {
        "id": "265aae12.c2b132",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/O/Input/float/Brightness_Sensor_(Analog)",
        "qos": "2",
        "broker": "349ec84e.43ecd8",
        "x": 240,
        "y": 1140,
        "wires": [
            [
                "d3ed58a7.a90208"
            ]
        ]
    },
    {
        "id": "d3ed58a7.a90208",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "translate home io payload to thingspeak",
        "func": "var API_KEY = \"7XWC1HZ4ZEB2GPRN\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\nmsg.topic = topicSplit[3];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 1300,
        "wires": [
            [
                "55275066.6fb79"
            ]
        ]
    },
    {
        "id": "f7b6dc89.f0bcf",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightSwimmingController",
        "func": "if(msg.payload < 1.8){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 1560,
        "wires": [
            [
                "e415181.c05dae8"
            ]
        ]
    },
    {
        "id": "55275066.6fb79",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "limit continunous update rate",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "21",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 200,
        "y": 1440,
        "wires": [
            [
                "f7b6dc89.f0bcf"
            ]
        ]
    },
    {
        "id": "c624362f.ff30b8",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/+/Input/float/Thermostat_(Room_Temperature)",
        "qos": "2",
        "broker": "b52c3a6b.4913a8",
        "x": 280,
        "y": 2660,
        "wires": [
            [
                "febfb31b.462e5"
            ]
        ]
    },
    {
        "id": "febfb31b.462e5",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "TemperatureController",
        "func": "if(msg.payload < 20){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nvar topicSplit =msg.topic.split(/[/]+/);\nmsg.topic = topicSplit[2];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 2820,
        "wires": [
            [
                "8c8c136f.2b3e"
            ]
        ]
    },
    {
        "id": "8c8c136f.2b3e",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TRUE",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "FALSE",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 260,
        "y": 2920,
        "wires": [
            [
                "7c6a384d.ced658"
            ],
            [
                "3ca3b29d.bfa29e"
            ]
        ]
    },
    {
        "id": "d5d55117.77238",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/A/Output/float/Heater_(Analog)",
        "qos": "",
        "retain": "",
        "broker": "b52c3a6b.4913a8",
        "x": 1250,
        "y": 2560,
        "wires": []
    },
    {
        "id": "1e163c60.dd7714",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/D/Output/float/Heater_(Analog)",
        "qos": "",
        "retain": "",
        "broker": "b52c3a6b.4913a8",
        "x": 1240,
        "y": 2620,
        "wires": []
    },
    {
        "id": "3df4b0eb.8d398",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/E/Output/float/Heater_(Analog)",
        "qos": "",
        "retain": "",
        "broker": "b52c3a6b.4913a8",
        "x": 1240,
        "y": 2680,
        "wires": []
    },
    {
        "id": "a741308a.cd94f",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/G/Output/float/Heater_(Analog)",
        "qos": "",
        "retain": "",
        "broker": "b52c3a6b.4913a8",
        "x": 1240,
        "y": 2740,
        "wires": []
    },
    {
        "id": "4ae7a394.f0652c",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/H/Output/float/Heater_(Analog)",
        "qos": "",
        "retain": "",
        "broker": "b52c3a6b.4913a8",
        "x": 1240,
        "y": 2800,
        "wires": []
    },
    {
        "id": "805d7ff0.7f30d",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/I/Output/float/Heater_(Analog)",
        "qos": "",
        "retain": "",
        "broker": "b52c3a6b.4913a8",
        "x": 1240,
        "y": 2860,
        "wires": []
    },
    {
        "id": "658d102a.a2f3f",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/J/Output/float/Heater_(Analog)",
        "qos": "",
        "retain": "",
        "broker": "b52c3a6b.4913a8",
        "x": 1240,
        "y": 2920,
        "wires": []
    },
    {
        "id": "f12fe553.9d98b8",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/K/Output/float/Heater_(Analog)",
        "qos": "",
        "retain": "",
        "broker": "b52c3a6b.4913a8",
        "x": 1240,
        "y": 2980,
        "wires": []
    },
    {
        "id": "a5a71a50.9ecc38",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/L/Output/float/Heater_(Analog)",
        "qos": "",
        "retain": "",
        "broker": "b52c3a6b.4913a8",
        "x": 1230,
        "y": 3040,
        "wires": []
    },
    {
        "id": "a9d2aca6.1ffe3",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/M/Output/float/Heater_(Analog)",
        "qos": "",
        "retain": "",
        "broker": "b52c3a6b.4913a8",
        "x": 1230,
        "y": 3100,
        "wires": []
    },
    {
        "id": "7c6a384d.ced658",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "FindRoom",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "A",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "D",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "E",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "G",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "H",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "I",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "J",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "K",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "M",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 870,
        "y": 2800,
        "wires": [
            [
                "d5d55117.77238"
            ],
            [
                "1e163c60.dd7714"
            ],
            [
                "3df4b0eb.8d398"
            ],
            [
                "a741308a.cd94f"
            ],
            [
                "4ae7a394.f0652c"
            ],
            [
                "805d7ff0.7f30d"
            ],
            [
                "658d102a.a2f3f"
            ],
            [
                "f12fe553.9d98b8"
            ],
            [
                "a5a71a50.9ecc38"
            ],
            [
                "a9d2aca6.1ffe3"
            ]
        ]
    },
    {
        "id": "3ca3b29d.bfa29e",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 580,
        "y": 2940,
        "wires": [
            [
                "7c6a384d.ced658"
            ]
        ]
    },
    {
        "id": "72a245cc.75014c",
        "type": "mosca in",
        "z": "c693a980.3f7cf8",
        "mqtt_port": 1883,
        "mqtt_ws_port": 8080,
        "name": "",
        "username": "",
        "password": "",
        "dburl": "",
        "x": 250,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5c151751.2bb768",
        "type": "mqtt in",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/general/Memory/float/Temperature_Zone_N_[K]",
        "qos": "2",
        "broker": "f9230cff.7a9d1",
        "x": 361,
        "y": 193,
        "wires": [
            [
                "9840df2.d6fec2"
            ]
        ]
    },
    {
        "id": "6ae5ad0e.9b9034",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "mqtt thingspeak out",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "19c3e2d7.0b633d",
        "x": 991,
        "y": 333,
        "wires": []
    },
    {
        "id": "9840df2.d6fec2",
        "type": "function",
        "z": "c693a980.3f7cf8",
        "name": "translate home io payload to thingspeak",
        "func": "var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\n\n// Flag continuous messages\nmsg.shouldBeThrottled = false;\nif(\n topicSplit[3] == \"Memory\" ||\n topicSplit[5].startsWith(\"Thermostat\") ||\n topicSplit[5].startsWith(\"Date_and_Time\") ||\n topicSplit[5].startsWith(\"Brightness\")){\n msg.shouldBeThrottled = true;\n}\n\n// Build ThingSpeak payload\nvar value = msg.payload;\nif(topicSplit[3] == \"bool\"){\n value = msg.payload==\"True\"?1:0;\n}\nmsg.payload = Date.now() + \",\" + topicSplit[topicSplit.length - 1] + \",\" + value + \",\" + API_KEY;\nmsg.topic = \"devices\" + msg.topic;\n\n// Don't proceed if the API key isn't set properly\nif(API_KEY != \"8HX6895TV90H9EIB\") return null;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 741,
        "y": 193,
        "wires": [
            [
                "ae2a19c.cf723e8"
            ]
        ]
    },
    {
        "id": "48c81ecd.de856",
        "type": "delay",
        "z": "c693a980.3f7cf8",
        "name": "limit continunous update rate",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 741,
        "y": 273,
        "wires": [
            [
                "6ae5ad0e.9b9034"
            ]
        ]
    },
    {
        "id": "ae2a19c.cf723e8",
        "type": "switch",
        "z": "c693a980.3f7cf8",
        "name": "filter continuous update data",
        "property": "shouldBeThrottled",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 461,
        "y": 313,
        "wires": [
            [
                "48c81ecd.de856"
            ],
            [
                "6ae5ad0e.9b9034"
            ]
        ]
    },
    {
        "id": "679f68bb.7558a8",
        "type": "mqtt in",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/O/Input/float/Brightness_Sensor_(Analog)",
        "qos": "2",
        "broker": "f9230cff.7a9d1",
        "x": 351,
        "y": 613,
        "wires": [
            [
                "af99a5b5.743698",
                "890b54d0.8dc2c8",
                "be52e29a.fd5a1",
                "a3c3fc8b.d094a"
            ]
        ]
    },
    {
        "id": "af99a5b5.743698",
        "type": "function",
        "z": "c693a980.3f7cf8",
        "name": "translate home io payload to thingspeak",
        "func": "var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\nmsg.topic = topicSplit[3];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 761,
        "y": 553,
        "wires": [
            [
                "eb44f5ad.9f9798"
            ]
        ]
    },
    {
        "id": "eb44f5ad.9f9798",
        "type": "delay",
        "z": "c693a980.3f7cf8",
        "name": "limit continunous update rate",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "21",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1091,
        "y": 553,
        "wires": [
            [
                "83cfb36b.a4f36"
            ]
        ]
    },
    {
        "id": "83cfb36b.a4f36",
        "type": "function",
        "z": "c693a980.3f7cf8",
        "name": "LightSwimmingController",
        "func": "if(msg.payload < 1.8){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1351,
        "y": 553,
        "wires": [
            [
                "be7a0b97.bb03c8"
            ]
        ]
    },
    {
        "id": "be7a0b97.bb03c8",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/O/Output/bool/Lights_Pool",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 1621,
        "y": 553,
        "wires": []
    },
    {
        "id": "b1aa391b.1a5c88",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/O/Output/bool/Lights_Porch_1",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 1631,
        "y": 613,
        "wires": []
    },
    {
        "id": "e365a967.e6fec8",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/O/Output/bool/Lights_Porch_2",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 1631,
        "y": 673,
        "wires": []
    },
    {
        "id": "890b54d0.8dc2c8",
        "type": "function",
        "z": "c693a980.3f7cf8",
        "name": "translate home io payload to thingspeak",
        "func": "var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\nmsg.topic = topicSplit[3];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 761,
        "y": 613,
        "wires": [
            [
                "4ea6c87a.66bd98"
            ]
        ]
    },
    {
        "id": "70591a87.79dc54",
        "type": "function",
        "z": "c693a980.3f7cf8",
        "name": "LightSwimmingController",
        "func": "if(msg.payload < 1.8){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1351,
        "y": 613,
        "wires": [
            [
                "b1aa391b.1a5c88"
            ]
        ]
    },
    {
        "id": "be52e29a.fd5a1",
        "type": "function",
        "z": "c693a980.3f7cf8",
        "name": "translate home io payload to thingspeak",
        "func": "var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\nmsg.topic = topicSplit[3];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 761,
        "y": 673,
        "wires": [
            [
                "4bb1604b.a0c77"
            ]
        ]
    },
    {
        "id": "20564bb8.0833a4",
        "type": "function",
        "z": "c693a980.3f7cf8",
        "name": "LightSwimmingController",
        "func": "if(msg.payload < 1.8){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1351,
        "y": 673,
        "wires": [
            [
                "e365a967.e6fec8"
            ]
        ]
    },
    {
        "id": "a3c3fc8b.d094a",
        "type": "function",
        "z": "c693a980.3f7cf8",
        "name": "translate home io payload to thingspeak",
        "func": "var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\nmsg.topic = topicSplit[3];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 761,
        "y": 733,
        "wires": [
            [
                "d468c32e.8366a"
            ]
        ]
    },
    {
        "id": "3188d3d8.e5c09c",
        "type": "function",
        "z": "c693a980.3f7cf8",
        "name": "LightSwimmingController",
        "func": "if(msg.payload < 1.8){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1351,
        "y": 733,
        "wires": [
            [
                "3e893f90.eeb19"
            ]
        ]
    },
    {
        "id": "3e893f90.eeb19",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/O/Output/bool/Lights_Garden",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 1631,
        "y": 733,
        "wires": []
    },
    {
        "id": "4ea6c87a.66bd98",
        "type": "delay",
        "z": "c693a980.3f7cf8",
        "name": "limit continunous update rate",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "21",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1091,
        "y": 613,
        "wires": [
            [
                "70591a87.79dc54"
            ]
        ]
    },
    {
        "id": "4bb1604b.a0c77",
        "type": "delay",
        "z": "c693a980.3f7cf8",
        "name": "limit continunous update rate",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "21",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1091,
        "y": 673,
        "wires": [
            [
                "20564bb8.0833a4"
            ]
        ]
    },
    {
        "id": "d468c32e.8366a",
        "type": "delay",
        "z": "c693a980.3f7cf8",
        "name": "limit continunous update rate",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "21",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1091,
        "y": 733,
        "wires": [
            [
                "3188d3d8.e5c09c"
            ]
        ]
    },
    {
        "id": "a4f07018.02cd2",
        "type": "comment",
        "z": "c693a980.3f7cf8",
        "name": "OUT Door Light Controller",
        "info": "",
        "x": 271,
        "y": 553,
        "wires": []
    },
    {
        "id": "e5ef7050.b48df",
        "type": "mqtt in",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/+/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "73a9dd87.ec5904",
        "x": 301,
        "y": 913,
        "wires": [
            [
                "b33cff1f.c6aa6"
            ]
        ]
    },
    {
        "id": "b33cff1f.c6aa6",
        "type": "function",
        "z": "c693a980.3f7cf8",
        "name": "chooseRoom",
        "func": "var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar split = msg.topic.split(/[/]+/);\n\nmsg.room = split[2];\n\na = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 361,
        "y": 1013,
        "wires": [
            [
                "ba4d7169.be705"
            ]
        ]
    },
    {
        "id": "e50d8e3e.61e55",
        "type": "delay",
        "z": "c693a980.3f7cf8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 381,
        "y": 1213,
        "wires": [
            [
                "2dc51354.83b6bc"
            ]
        ]
    },
    {
        "id": "ba4d7169.be705",
        "type": "switch",
        "z": "c693a980.3f7cf8",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 361,
        "y": 1113,
        "wires": [
            [
                "2dc51354.83b6bc"
            ],
            [
                "e50d8e3e.61e55"
            ]
        ]
    },
    {
        "id": "2dc51354.83b6bc",
        "type": "switch",
        "z": "c693a980.3f7cf8",
        "name": "Rooms",
        "property": "room",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "A",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "B",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "C",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "D",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "E",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "F",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "G",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "H",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "I",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "J",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "K",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "M",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "N",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "O",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 15,
        "x": 581,
        "y": 1073,
        "wires": [
            [
                "28f91bd6.338d74"
            ],
            [
                "4da9495c.f88078"
            ],
            [
                "cf7203b8.4b41"
            ],
            [
                "752f012f.33862"
            ],
            [
                "67baab80.aa3b24"
            ],
            [
                "6e3bc489.abafcc"
            ],
            [
                "377f4c8.e63a4b4"
            ],
            [
                "a413d1ea.9c2dd"
            ],
            [
                "43f4be73.5800e"
            ],
            [
                "9ef273fa.c738d"
            ],
            [
                "1ac0ffe.bd8c9"
            ],
            [
                "87cf03ac.a1a33"
            ],
            [
                "fd078ce3.66872"
            ],
            [
                "3a9aac29.9859a4"
            ],
            [
                "fda130e7.7cc9f"
            ]
        ]
    },
    {
        "id": "28f91bd6.338d74",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/A/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 881,
        "y": 853,
        "wires": []
    },
    {
        "id": "cf7203b8.4b41",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/C/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 881,
        "y": 933,
        "wires": []
    },
    {
        "id": "67baab80.aa3b24",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/E/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 881,
        "y": 1013,
        "wires": []
    },
    {
        "id": "377f4c8.e63a4b4",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/G/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 881,
        "y": 1093,
        "wires": []
    },
    {
        "id": "a413d1ea.9c2dd",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/H/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 881,
        "y": 1133,
        "wires": []
    },
    {
        "id": "9ef273fa.c738d",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/J/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 881,
        "y": 1213,
        "wires": []
    },
    {
        "id": "1ac0ffe.bd8c9",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/K/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 881,
        "y": 1253,
        "wires": []
    },
    {
        "id": "87cf03ac.a1a33",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/L/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 881,
        "y": 1293,
        "wires": []
    },
    {
        "id": "fd078ce3.66872",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/M/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 881,
        "y": 1333,
        "wires": []
    },
    {
        "id": "fda130e7.7cc9f",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "Lights_Entrance",
        "topic": "/home/O/Output/bool/Lights_Entrance",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 851,
        "y": 1453,
        "wires": []
    },
    {
        "id": "4da9495c.f88078",
        "type": "function",
        "z": "c693a980.3f7cf8",
        "name": "Room B-2 Lights 1&2",
        "func": "\nreturn msg,msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 861,
        "y": 893,
        "wires": [
            [
                "c762bed2.24f96",
                "46517d60.166c54"
            ]
        ]
    },
    {
        "id": "c762bed2.24f96",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/B/Output/bool/Lights_1",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 1171,
        "y": 873,
        "wires": []
    },
    {
        "id": "46517d60.166c54",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/B/Output/bool/Lights_2",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 1171,
        "y": 913,
        "wires": []
    },
    {
        "id": "752f012f.33862",
        "type": "function",
        "z": "c693a980.3f7cf8",
        "name": "Room D-2 Lights 1&2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 861,
        "y": 973,
        "wires": [
            [
                "731b0871.e8fc88",
                "f5d77203.21483"
            ]
        ]
    },
    {
        "id": "6e3bc489.abafcc",
        "type": "function",
        "z": "c693a980.3f7cf8",
        "name": "Room F-2 Lights 1&2",
        "func": "\nreturn msg,msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 861,
        "y": 1053,
        "wires": [
            [
                "fadf8d02.5e0c",
                "f0e69ee9.c8f3a"
            ]
        ]
    },
    {
        "id": "43f4be73.5800e",
        "type": "function",
        "z": "c693a980.3f7cf8",
        "name": "Room I-2 Lights 1&2",
        "func": "\nreturn msg,msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 861,
        "y": 1173,
        "wires": [
            [
                "7650c727.94aba8",
                "5e03b450.7055fc"
            ]
        ]
    },
    {
        "id": "3a9aac29.9859a4",
        "type": "function",
        "z": "c693a980.3f7cf8",
        "name": "Room N-2 Lights 1&2&3",
        "func": "\nreturn msg,msg,msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 871,
        "y": 1393,
        "wires": [
            [
                "41b7d9cf.5f15c8",
                "b90bd655.08a568",
                "a01d46cc.aa2678"
            ]
        ]
    },
    {
        "id": "f5d77203.21483",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/D/Output/bool/Lights_2",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 1171,
        "y": 993,
        "wires": []
    },
    {
        "id": "731b0871.e8fc88",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/D/Output/bool/Lights_1",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 1171,
        "y": 953,
        "wires": []
    },
    {
        "id": "f0e69ee9.c8f3a",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/F/Output/bool/Lights_2",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 1171,
        "y": 1073,
        "wires": []
    },
    {
        "id": "fadf8d02.5e0c",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/F/Output/bool/Lights_1",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 1171,
        "y": 1033,
        "wires": []
    },
    {
        "id": "7650c727.94aba8",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/I/Output/bool/Lights_1",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 1171,
        "y": 1133,
        "wires": []
    },
    {
        "id": "5e03b450.7055fc",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/I/Output/bool/Lights_2",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 1171,
        "y": 1213,
        "wires": []
    },
    {
        "id": "41b7d9cf.5f15c8",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/N/Output/bool/Lights_1",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 1171,
        "y": 1353,
        "wires": []
    },
    {
        "id": "b90bd655.08a568",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/N/Output/bool/Lights_2",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 1171,
        "y": 1393,
        "wires": []
    },
    {
        "id": "a01d46cc.aa2678",
        "type": "mqtt out",
        "z": "c693a980.3f7cf8",
        "name": "",
        "topic": "/home/N/Output/bool/Lights_3",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 1171,
        "y": 1433,
        "wires": []
    },
    {
        "id": "29cb9b95.a448a4",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/+/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "73a9dd87.ec5904",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "bc71ab87.fd6a98"
            ]
        ]
    },
    {
        "id": "bc71ab87.fd6a98",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "findRoom",
        "func": "var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar split = msg.topic.split(/[/]+/);\n\nmsg.room = split[2];\n\na = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 480,
        "wires": [
            [
                "b8f97257.137d3"
            ]
        ]
    },
    {
        "id": "b0325a4a.6d51c8",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 260,
        "y": 680,
        "wires": [
            [
                "ca117780.ff3fe8"
            ]
        ]
    },
    {
        "id": "b8f97257.137d3",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "judge",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 580,
        "wires": [
            [
                "ca117780.ff3fe8"
            ],
            [
                "b0325a4a.6d51c8"
            ]
        ]
    },
    {
        "id": "ca117780.ff3fe8",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "Rooms",
        "property": "room",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "A",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "B",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "C",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "D",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "E",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "F",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "G",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "H",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "I",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "J",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "K",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "M",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "N",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "O",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 15,
        "x": 460,
        "y": 540,
        "wires": [
            [
                "1c0b0b85.4e43b4"
            ],
            [
                "e1cd4e65.c46d4",
                "f3c1a44a.727378"
            ],
            [
                "7611950f.8e682c"
            ],
            [
                "ddca1de9.55e8e",
                "e42c0853.4eaff8"
            ],
            [
                "5b1d0206.a27fec"
            ],
            [
                "55dc7d37.276dc4",
                "9b2bad13.8c09d"
            ],
            [
                "ab8420f5.dd1df"
            ],
            [
                "1bbc9e0.e892362"
            ],
            [
                "76c8784f.dd49f8",
                "34944310.f0af7c"
            ],
            [
                "d36d54fa.e458f8"
            ],
            [
                "76adcd74.a83854"
            ],
            [
                "f2451b8b.74de78"
            ],
            [
                "7a05f1fb.79076"
            ],
            [
                "dee626ee.40d428",
                "1b6c4b1e.162325",
                "306ed3f1.35f84c"
            ],
            [
                "8f47cb91.499868"
            ]
        ]
    },
    {
        "id": "1c0b0b85.4e43b4",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/A/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "7611950f.8e682c",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/C/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 760,
        "y": 420,
        "wires": []
    },
    {
        "id": "5b1d0206.a27fec",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/E/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 760,
        "y": 540,
        "wires": []
    },
    {
        "id": "ab8420f5.dd1df",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/G/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 760,
        "y": 660,
        "wires": []
    },
    {
        "id": "1bbc9e0.e892362",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/H/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 760,
        "y": 700,
        "wires": []
    },
    {
        "id": "d36d54fa.e458f8",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/J/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 760,
        "y": 820,
        "wires": []
    },
    {
        "id": "76adcd74.a83854",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/K/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 760,
        "y": 860,
        "wires": []
    },
    {
        "id": "f2451b8b.74de78",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/L/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 760,
        "y": 900,
        "wires": []
    },
    {
        "id": "7a05f1fb.79076",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/M/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 760,
        "y": 940,
        "wires": []
    },
    {
        "id": "8f47cb91.499868",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "Lights_Entrance",
        "topic": "/home/O/Output/bool/Lights_Entrance",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 720,
        "y": 1100,
        "wires": []
    },
    {
        "id": "f3c1a44a.727378",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/B/Output/bool/Lights_1",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 770,
        "y": 340,
        "wires": []
    },
    {
        "id": "e1cd4e65.c46d4",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/B/Output/bool/Lights_2",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 770,
        "y": 380,
        "wires": []
    },
    {
        "id": "ddca1de9.55e8e",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/D/Output/bool/Lights_2",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 770,
        "y": 500,
        "wires": []
    },
    {
        "id": "e42c0853.4eaff8",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/D/Output/bool/Lights_1",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "9b2bad13.8c09d",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/F/Output/bool/Lights_2",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 770,
        "y": 620,
        "wires": []
    },
    {
        "id": "55dc7d37.276dc4",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/F/Output/bool/Lights_1",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 770,
        "y": 580,
        "wires": []
    },
    {
        "id": "34944310.f0af7c",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/I/Output/bool/Lights_1",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 760,
        "y": 740,
        "wires": []
    },
    {
        "id": "76c8784f.dd49f8",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/I/Output/bool/Lights_2",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 760,
        "y": 780,
        "wires": []
    },
    {
        "id": "dee626ee.40d428",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/N/Output/bool/Lights_1",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 770,
        "y": 980,
        "wires": []
    },
    {
        "id": "1b6c4b1e.162325",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/N/Output/bool/Lights_2",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 770,
        "y": 1020,
        "wires": []
    },
    {
        "id": "306ed3f1.35f84c",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/N/Output/bool/Lights_3",
        "qos": "",
        "retain": "",
        "broker": "73a9dd87.ec5904",
        "x": 770,
        "y": 1060,
        "wires": []
    }
]