Lighting control
[
    {
        "id": "7ff88f77.ad8e2",
        "type": "tab",
        "label": "Lighting control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "49055c4d.402f64",
        "type": "tab",
        "label": "Window control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d07175eb.d71c98",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "39550c97.1ba954",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "bb3b3504.6b0008",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a24997e9.3b2598",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7c7ed7f2.030978",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "cbeb1648.14fac8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "669d9efe.0a8e7",
        "type": "mqtt-broker",
        "z": "",
        "broker": "sparks-vm24.i3s.unice.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dcce938d.81879",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4d001660.7443f8",
        "type": "mosca in",
        "z": "7ff88f77.ad8e2",
        "mqtt_port": 1883,
        "mqtt_ws_port": 8080,
        "name": "",
        "username": "",
        "password": "",
        "dburl": "",
        "x": 110,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "189ca343.80441d",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/general/Memory/float/Temperature_Zone_N_[K]",
        "qos": "2",
        "broker": "cbeb1648.14fac8",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "8bb11705.f07e88"
            ]
        ]
    },
    {
        "id": "2039e35f.7cb0dc",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "mqtt thingspeak out",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "669d9efe.0a8e7",
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "8bb11705.f07e88",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "translate home io payload to thingspeak",
        "func": "var API_KEY = \"7XWC1HZ4ZEB2GPRN\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\n\n// Flag continuous messages\nmsg.shouldBeThrottled = false;\nif(\n topicSplit[3] == \"Memory\" ||\n topicSplit[5].startsWith(\"Thermostat\") ||\n topicSplit[5].startsWith(\"Date_and_Time\") ||\n topicSplit[5].startsWith(\"Brightness\")){\n msg.shouldBeThrottled = true;\n}\n\n// Build ThingSpeak payload\nvar value = msg.payload;\nif(topicSplit[3] == \"bool\"){\n value = msg.payload==\"True\"?1:0;\n}\nmsg.payload = Date.now() + \",\" + topicSplit[topicSplit.length - 1] + \",\" + value + \",\" + API_KEY;\nmsg.topic = \"devices\" + msg.topic;\n\n// Don't proceed if the API key isn't set properly\nif(API_KEY != \"7XWC1HZ4ZEB2GPRN\") return null;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 160,
        "wires": [
            [
                "852ffd7d.e073f"
            ]
        ]
    },
    {
        "id": "d0310910.782978",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "limit continunous update rate",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 500,
        "y": 240,
        "wires": [
            [
                "2039e35f.7cb0dc"
            ]
        ]
    },
    {
        "id": "852ffd7d.e073f",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "filter continuous update data",
        "property": "shouldBeThrottled",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 220,
        "y": 260,
        "wires": [
            [
                "d0310910.782978"
            ],
            [
                "2039e35f.7cb0dc"
            ]
        ]
    },
    {
        "id": "7c52238f.07a5ec",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/O/Input/float/Brightness_Sensor_(Analog)",
        "qos": "2",
        "broker": "cbeb1648.14fac8",
        "x": 200,
        "y": 1840,
        "wires": [
            [
                "6bba8910.2e6fc8",
                "34cab28e.44ea7e",
                "1b7c865.f20be7a",
                "aa46721b.1711b"
            ]
        ]
    },
    {
        "id": "6bba8910.2e6fc8",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "translate home io payload to thingspeak",
        "func": "var API_KEY = \"7XWC1HZ4ZEB2GPRN\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\nmsg.topic = topicSplit[3];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 1820,
        "wires": [
            [
                "c37a53d5.2e51d"
            ]
        ]
    },
    {
        "id": "c37a53d5.2e51d",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "limit continunous update rate",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "21",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 880,
        "y": 1820,
        "wires": [
            [
                "d92e3984.42c168"
            ]
        ]
    },
    {
        "id": "cc2f6878.1835e8",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/A/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "dcce938d.81879",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "c5961857.cfd308"
            ]
        ]
    },
    {
        "id": "86b68b09.a30348",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/A/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 940,
        "y": 340,
        "wires": []
    },
    {
        "id": "27ec552d.3aa13a",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 360,
        "wires": [
            [
                "86b68b09.a30348"
            ]
        ]
    },
    {
        "id": "c5961857.cfd308",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 340,
        "wires": [
            [
                "f28c596c.1dc6b8"
            ]
        ]
    },
    {
        "id": "f28c596c.1dc6b8",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 340,
        "wires": [
            [
                "86b68b09.a30348"
            ],
            [
                "27ec552d.3aa13a"
            ]
        ]
    },
    {
        "id": "8a8e9b3f.954b78",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/B/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "dcce938d.81879",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "5c4ffbd4.615c24",
                "2a465269.1c363e"
            ]
        ]
    },
    {
        "id": "7e1f6bb3.556884",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/B/Output/bool/Lights_1",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 950,
        "y": 420,
        "wires": []
    },
    {
        "id": "41f7e961.6137f8",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 440,
        "wires": [
            [
                "7e1f6bb3.556884"
            ]
        ]
    },
    {
        "id": "5c4ffbd4.615c24",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 420,
        "wires": [
            [
                "177c4802.b16a08"
            ]
        ]
    },
    {
        "id": "177c4802.b16a08",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 420,
        "wires": [
            [
                "7e1f6bb3.556884"
            ],
            [
                "41f7e961.6137f8"
            ]
        ]
    },
    {
        "id": "6147ff96.6571b",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/C/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "dcce938d.81879",
        "x": 160,
        "y": 540,
        "wires": [
            [
                "a38a149f.9efcb8"
            ]
        ]
    },
    {
        "id": "557ee012.1b33f",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/C/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 940,
        "y": 540,
        "wires": []
    },
    {
        "id": "d7a0a614.abfb38",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 560,
        "wires": [
            [
                "557ee012.1b33f"
            ]
        ]
    },
    {
        "id": "a38a149f.9efcb8",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 540,
        "wires": [
            [
                "49e1bd07.da9444"
            ]
        ]
    },
    {
        "id": "49e1bd07.da9444",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 540,
        "wires": [
            [
                "557ee012.1b33f"
            ],
            [
                "d7a0a614.abfb38"
            ]
        ]
    },
    {
        "id": "e259ad84.68391",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/D/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "dcce938d.81879",
        "x": 160,
        "y": 600,
        "wires": [
            [
                "95eebdd4.b5643",
                "8d78a658.62d438"
            ]
        ]
    },
    {
        "id": "87378823.d2a0e8",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/D/Output/bool/Lights_1",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 950,
        "y": 600,
        "wires": []
    },
    {
        "id": "f6eec971.645f78",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 620,
        "wires": [
            [
                "87378823.d2a0e8"
            ]
        ]
    },
    {
        "id": "95eebdd4.b5643",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 600,
        "wires": [
            [
                "432e8d43.b5dd94"
            ]
        ]
    },
    {
        "id": "432e8d43.b5dd94",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 600,
        "wires": [
            [
                "87378823.d2a0e8"
            ],
            [
                "f6eec971.645f78"
            ]
        ]
    },
    {
        "id": "58a9f52.e78e70c",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/E/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "dcce938d.81879",
        "x": 160,
        "y": 720,
        "wires": [
            [
                "6a0898c4.394008"
            ]
        ]
    },
    {
        "id": "a2007e4f.7418b",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/E/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 940,
        "y": 720,
        "wires": []
    },
    {
        "id": "6ef4d929.b69aa8",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 740,
        "wires": [
            [
                "a2007e4f.7418b"
            ]
        ]
    },
    {
        "id": "6a0898c4.394008",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 720,
        "wires": [
            [
                "8875829c.5b0de"
            ]
        ]
    },
    {
        "id": "8875829c.5b0de",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 720,
        "wires": [
            [
                "a2007e4f.7418b"
            ],
            [
                "6ef4d929.b69aa8"
            ]
        ]
    },
    {
        "id": "76aeb48f.c806ac",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/F/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "dcce938d.81879",
        "x": 160,
        "y": 820,
        "wires": [
            [
                "9c24dc48.2b162",
                "5ba03bf4.c7d224"
            ]
        ]
    },
    {
        "id": "e7dbe408.f86218",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/F/Output/bool/Lights_1",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 950,
        "y": 800,
        "wires": []
    },
    {
        "id": "4c802abd.bf62c4",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 840,
        "wires": [
            [
                "e7dbe408.f86218"
            ]
        ]
    },
    {
        "id": "9c24dc48.2b162",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 820,
        "wires": [
            [
                "99612957.966078"
            ]
        ]
    },
    {
        "id": "99612957.966078",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 820,
        "wires": [
            [
                "e7dbe408.f86218"
            ],
            [
                "4c802abd.bf62c4"
            ]
        ]
    },
    {
        "id": "fdddd7f2.4ec2c8",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/G/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "dcce938d.81879",
        "x": 160,
        "y": 940,
        "wires": [
            [
                "248b8a3d.d7f436"
            ]
        ]
    },
    {
        "id": "842f81b8.30691",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/G/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 940,
        "y": 940,
        "wires": []
    },
    {
        "id": "c54f8d7d.5ccc6",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 960,
        "wires": [
            [
                "842f81b8.30691"
            ]
        ]
    },
    {
        "id": "248b8a3d.d7f436",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 940,
        "wires": [
            [
                "bb8aeacf.e0b528"
            ]
        ]
    },
    {
        "id": "bb8aeacf.e0b528",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 940,
        "wires": [
            [
                "842f81b8.30691"
            ],
            [
                "c54f8d7d.5ccc6"
            ]
        ]
    },
    {
        "id": "6577578e.d10788",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/H/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "dcce938d.81879",
        "x": 160,
        "y": 1000,
        "wires": [
            [
                "79eacb73.2d3f54"
            ]
        ]
    },
    {
        "id": "1ac9daa3.3c8f45",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/H/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 940,
        "y": 1000,
        "wires": []
    },
    {
        "id": "192cdb4d.495525",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 1020,
        "wires": [
            [
                "1ac9daa3.3c8f45"
            ]
        ]
    },
    {
        "id": "79eacb73.2d3f54",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 1000,
        "wires": [
            [
                "1af0b56f.c08e8b"
            ]
        ]
    },
    {
        "id": "1af0b56f.c08e8b",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 1000,
        "wires": [
            [
                "1ac9daa3.3c8f45"
            ],
            [
                "192cdb4d.495525"
            ]
        ]
    },
    {
        "id": "381d1b38.d87d04",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/I/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "dcce938d.81879",
        "x": 160,
        "y": 1080,
        "wires": [
            [
                "83867436.f77cf8",
                "84770516.43ced8"
            ]
        ]
    },
    {
        "id": "40c56a41.51e144",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/I/Output/bool/Lights_1",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 940,
        "y": 1080,
        "wires": []
    },
    {
        "id": "218139cb.139306",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 1100,
        "wires": [
            [
                "40c56a41.51e144"
            ]
        ]
    },
    {
        "id": "83867436.f77cf8",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 1080,
        "wires": [
            [
                "9729e9a1.a47698"
            ]
        ]
    },
    {
        "id": "9729e9a1.a47698",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 1080,
        "wires": [
            [
                "40c56a41.51e144"
            ],
            [
                "218139cb.139306"
            ]
        ]
    },
    {
        "id": "27a7e424.9b73ec",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/B/Output/bool/Lights_2",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 950,
        "y": 480,
        "wires": []
    },
    {
        "id": "98b90a08.181598",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 500,
        "wires": [
            [
                "27a7e424.9b73ec"
            ]
        ]
    },
    {
        "id": "2a465269.1c363e",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 460,
        "wires": [
            [
                "907c45f5.a52928"
            ]
        ]
    },
    {
        "id": "907c45f5.a52928",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 460,
        "wires": [
            [
                "27a7e424.9b73ec"
            ],
            [
                "98b90a08.181598"
            ]
        ]
    },
    {
        "id": "54f634e0.6f4b9c",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/D/Output/bool/Lights_2",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 950,
        "y": 660,
        "wires": []
    },
    {
        "id": "d556125e.626d6",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 680,
        "wires": [
            [
                "54f634e0.6f4b9c"
            ]
        ]
    },
    {
        "id": "8d78a658.62d438",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 660,
        "wires": [
            [
                "41720f1c.65b5a"
            ]
        ]
    },
    {
        "id": "41720f1c.65b5a",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 660,
        "wires": [
            [
                "54f634e0.6f4b9c"
            ],
            [
                "d556125e.626d6"
            ]
        ]
    },
    {
        "id": "2711951e.e863ea",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/F/Output/bool/Lights_2",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 950,
        "y": 860,
        "wires": []
    },
    {
        "id": "6b093915.053658",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 900,
        "wires": [
            [
                "2711951e.e863ea"
            ]
        ]
    },
    {
        "id": "5ba03bf4.c7d224",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 880,
        "wires": [
            [
                "8d5bddb1.ae9d7"
            ]
        ]
    },
    {
        "id": "8d5bddb1.ae9d7",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 880,
        "wires": [
            [
                "2711951e.e863ea"
            ],
            [
                "6b093915.053658"
            ]
        ]
    },
    {
        "id": "b8b40312.4b9ae",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/I/Output/bool/Lights_2",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 940,
        "y": 1120,
        "wires": []
    },
    {
        "id": "c11d9d22.83245",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 1160,
        "wires": [
            [
                "b8b40312.4b9ae"
            ]
        ]
    },
    {
        "id": "84770516.43ced8",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 1140,
        "wires": [
            [
                "dad587.94168a78"
            ]
        ]
    },
    {
        "id": "dad587.94168a78",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 1140,
        "wires": [
            [
                "b8b40312.4b9ae"
            ],
            [
                "c11d9d22.83245"
            ]
        ]
    },
    {
        "id": "645c062d.118cd8",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/J/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "dcce938d.81879",
        "x": 160,
        "y": 1200,
        "wires": [
            [
                "cd3274c5.8ce078"
            ]
        ]
    },
    {
        "id": "389a0a9b.f83ea6",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/J/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 940,
        "y": 1200,
        "wires": []
    },
    {
        "id": "725f25b9.3eadbc",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 1220,
        "wires": [
            [
                "389a0a9b.f83ea6"
            ]
        ]
    },
    {
        "id": "cd3274c5.8ce078",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 1200,
        "wires": [
            [
                "ceeb42de.c1c0c"
            ]
        ]
    },
    {
        "id": "ceeb42de.c1c0c",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 1200,
        "wires": [
            [
                "389a0a9b.f83ea6"
            ],
            [
                "725f25b9.3eadbc"
            ]
        ]
    },
    {
        "id": "a04bf241.78704",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/K/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "dcce938d.81879",
        "x": 160,
        "y": 1260,
        "wires": [
            [
                "4f5ae40e.ba43ec"
            ]
        ]
    },
    {
        "id": "706b7f44.a4352",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/K/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 940,
        "y": 1260,
        "wires": []
    },
    {
        "id": "bb2501ae.52792",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 1280,
        "wires": [
            [
                "706b7f44.a4352"
            ]
        ]
    },
    {
        "id": "4f5ae40e.ba43ec",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 1260,
        "wires": [
            [
                "3ac535bd.9c914a"
            ]
        ]
    },
    {
        "id": "3ac535bd.9c914a",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 1260,
        "wires": [
            [
                "706b7f44.a4352"
            ],
            [
                "bb2501ae.52792"
            ]
        ]
    },
    {
        "id": "c4705b52.0efc98",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/L/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "dcce938d.81879",
        "x": 160,
        "y": 1340,
        "wires": [
            [
                "e1da8577.2bb028"
            ]
        ]
    },
    {
        "id": "5ebc7b30.1c9f54",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/L/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 940,
        "y": 1340,
        "wires": []
    },
    {
        "id": "8a51ac28.614ab",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 1360,
        "wires": [
            [
                "5ebc7b30.1c9f54"
            ]
        ]
    },
    {
        "id": "e1da8577.2bb028",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 1340,
        "wires": [
            [
                "90dde09c.4855b"
            ]
        ]
    },
    {
        "id": "90dde09c.4855b",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 1340,
        "wires": [
            [
                "5ebc7b30.1c9f54"
            ],
            [
                "8a51ac28.614ab"
            ]
        ]
    },
    {
        "id": "ba149fb9.5f655",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/M/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "dcce938d.81879",
        "x": 160,
        "y": 1400,
        "wires": [
            [
                "9cde8516.65f9a8"
            ]
        ]
    },
    {
        "id": "4a01e5c6.65c76c",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/M/Output/bool/Lights",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 940,
        "y": 1400,
        "wires": []
    },
    {
        "id": "7b9577d4.fbffb8",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 1420,
        "wires": [
            [
                "4a01e5c6.65c76c"
            ]
        ]
    },
    {
        "id": "9cde8516.65f9a8",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 1400,
        "wires": [
            [
                "3b697033.1f638"
            ]
        ]
    },
    {
        "id": "3b697033.1f638",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 1400,
        "wires": [
            [
                "4a01e5c6.65c76c"
            ],
            [
                "7b9577d4.fbffb8"
            ]
        ]
    },
    {
        "id": "3fe5bdbf.3c2952",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/N/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "dcce938d.81879",
        "x": 160,
        "y": 1480,
        "wires": [
            [
                "f9e53006.f7028",
                "f794094d.afc128",
                "c6e15bab.bda908"
            ]
        ]
    },
    {
        "id": "4595447e.27ce7c",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/N/Output/bool/Lights_1",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 950,
        "y": 1480,
        "wires": []
    },
    {
        "id": "2b3d519.57afaae",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 1500,
        "wires": [
            [
                "4595447e.27ce7c"
            ]
        ]
    },
    {
        "id": "f9e53006.f7028",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 1480,
        "wires": [
            [
                "eb64a228.85c22"
            ]
        ]
    },
    {
        "id": "eb64a228.85c22",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 1480,
        "wires": [
            [
                "4595447e.27ce7c"
            ],
            [
                "2b3d519.57afaae"
            ]
        ]
    },
    {
        "id": "6d49a4f2.18b4cc",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/N/Output/bool/Lights_2",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 950,
        "y": 1540,
        "wires": []
    },
    {
        "id": "fff9df02.fec65",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 760,
        "y": 1580,
        "wires": [
            [
                "6d49a4f2.18b4cc"
            ]
        ]
    },
    {
        "id": "f794094d.afc128",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 1520,
        "wires": [
            [
                "69eeb0e2.ff259"
            ]
        ]
    },
    {
        "id": "69eeb0e2.ff259",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 1560,
        "wires": [
            [
                "6d49a4f2.18b4cc"
            ],
            [
                "fff9df02.fec65"
            ]
        ]
    },
    {
        "id": "9939864a.079d38",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/N/Output/bool/Lights_3",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 950,
        "y": 1620,
        "wires": []
    },
    {
        "id": "2837c6ea.1a0a6a",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 1680,
        "wires": [
            [
                "9939864a.079d38"
            ]
        ]
    },
    {
        "id": "c6e15bab.bda908",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 1560,
        "wires": [
            [
                "20699106.d4781e"
            ]
        ]
    },
    {
        "id": "20699106.d4781e",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 1640,
        "wires": [
            [
                "9939864a.079d38"
            ],
            [
                "2837c6ea.1a0a6a"
            ]
        ]
    },
    {
        "id": "58ece001.c722",
        "type": "mqtt in",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/O/Input/bool/Motion_Detector",
        "qos": "2",
        "broker": "dcce938d.81879",
        "x": 160,
        "y": 1720,
        "wires": [
            [
                "1f00fb0c.f4de45"
            ]
        ]
    },
    {
        "id": "f06cbaad.fc29a8",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/O/Output/bool/Lights_Entrance",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 970,
        "y": 1720,
        "wires": []
    },
    {
        "id": "a7072e1b.2e07a",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 1760,
        "wires": [
            [
                "f06cbaad.fc29a8"
            ]
        ]
    },
    {
        "id": "1f00fb0c.f4de45",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightController",
        "func": "a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 1720,
        "wires": [
            [
                "c141b76e.47a7d8"
            ]
        ]
    },
    {
        "id": "c141b76e.47a7d8",
        "type": "switch",
        "z": "7ff88f77.ad8e2",
        "name": "seperate signal",
        "property": "open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 1720,
        "wires": [
            [
                "f06cbaad.fc29a8"
            ],
            [
                "a7072e1b.2e07a"
            ]
        ]
    },
    {
        "id": "d92e3984.42c168",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightSwimmingController",
        "func": "if(msg.payload < 1.8){\n    msg.payload = true;\n}\nelse{\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1130,
        "y": 1820,
        "wires": [
            [
                "c425ed56.a865b"
            ]
        ]
    },
    {
        "id": "c425ed56.a865b",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/O/Output/bool/Lights_Pool",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 1400,
        "y": 1820,
        "wires": []
    },
    {
        "id": "3483a696.13083a",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/O/Output/bool/Lights_Porch_1",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 1410,
        "y": 1880,
        "wires": []
    },
    {
        "id": "13d6c0c2.e6b16f",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/O/Output/bool/Lights_Porch_2",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 1410,
        "y": 1940,
        "wires": []
    },
    {
        "id": "34cab28e.44ea7e",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "translate home io payload to thingspeak",
        "func": "var API_KEY = \"7XWC1HZ4ZEB2GPRN\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\nmsg.topic = topicSplit[3];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 1880,
        "wires": [
            [
                "249e5270.a13e1e"
            ]
        ]
    },
    {
        "id": "7704b40c.c97b3c",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightSwimmingController",
        "func": "if(msg.payload < 1.8){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1130,
        "y": 1880,
        "wires": [
            [
                "3483a696.13083a"
            ]
        ]
    },
    {
        "id": "1b7c865.f20be7a",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "translate home io payload to thingspeak",
        "func": "var API_KEY = \"7XWC1HZ4ZEB2GPRN\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\nmsg.topic = topicSplit[3];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 1940,
        "wires": [
            [
                "a41c5320.0b8c3"
            ]
        ]
    },
    {
        "id": "574e4a71.bfe844",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightSwimmingController",
        "func": "if(msg.payload < 1.8){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1130,
        "y": 1940,
        "wires": [
            [
                "13d6c0c2.e6b16f"
            ]
        ]
    },
    {
        "id": "aa46721b.1711b",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "translate home io payload to thingspeak",
        "func": "var API_KEY = \"7XWC1HZ4ZEB2GPRN\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\nmsg.topic = topicSplit[3];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 2000,
        "wires": [
            [
                "5703edca.d62094"
            ]
        ]
    },
    {
        "id": "97ec8f8d.d7d66",
        "type": "function",
        "z": "7ff88f77.ad8e2",
        "name": "LightSwimmingController",
        "func": "if(msg.payload < 1.8){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1130,
        "y": 2000,
        "wires": [
            [
                "f235f807.33cd08"
            ]
        ]
    },
    {
        "id": "f235f807.33cd08",
        "type": "mqtt out",
        "z": "7ff88f77.ad8e2",
        "name": "",
        "topic": "/home/O/Output/bool/Lights_Garden",
        "qos": "",
        "retain": "",
        "broker": "dcce938d.81879",
        "x": 1410,
        "y": 2000,
        "wires": []
    },
    {
        "id": "249e5270.a13e1e",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "limit continunous update rate",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "21",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 880,
        "y": 1880,
        "wires": [
            [
                "7704b40c.c97b3c"
            ]
        ]
    },
    {
        "id": "a41c5320.0b8c3",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "limit continunous update rate",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "21",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 880,
        "y": 1940,
        "wires": [
            [
                "574e4a71.bfe844"
            ]
        ]
    },
    {
        "id": "5703edca.d62094",
        "type": "delay",
        "z": "7ff88f77.ad8e2",
        "name": "limit continunous update rate",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "21",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 880,
        "y": 2000,
        "wires": [
            [
                "97ec8f8d.d7d66"
            ]
        ]
    }
]
